<!doctype html>
<html>

<head>
	<title>Line Chart</title>
	<script type="text/javascript" language="javascript" src="views/Chart_min.js"></script>
	<script type="text/javascript" language="javascript" src="./utils.js"></script>
   
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div style="width:75%;">
		<canvas id="canvas"></canvas>
	</div>
	<br>
	<br>
	<button id="randomizeData">Randomize Data</button>
	<button id="addDataset">Add Dataset</button>
	<button id="removeDataset">Remove Dataset</button>
	<button id="addData">Add Data</button>
	<button id="removeData">Remove Data</button>
	
	<script type="text/javascript" language="javascript" src="./basic.js"></script>
		
</body>

</html>
